<h1> Ayuda </h1>
<p> En este apartado podr&aacute; encontrar qué es un quiz, cómo se responde
    y cu&aacute;l es el objetivo del portal.
    <section>
        <ul>
            <li> ¿Qu&eacute; es un Quiz?</li>
                <p>Un quiz es una prueba rápida que se usa mucho a nivel escolar. Son pequeñas pruebas, pero son esenciales para preparar a los estudiantes para las pruebas más amplias y complicadas.</p>
                <p> <img src="/images/quiz.png" height="100px"/></p>
            <li>¿C&oacute;mo se responde?</li>
                <p>Comúnmente pueden tener la forma de un juego, al estilo de esos juegos de trivias en los que se selecciona la respuesta correcta entre múltiples opciones. Los quizzes también se realizan en competiciones, en las cuales los participantes deben responder rápidamente a las preguntas.</p>
            <li>¿Cu&aacute;l es el objetivo del portal?</li>
                <p>Mostrar una plataforma en la que se pueda contestar una serie de preguntas que tienen como pista una imagen.</p>
        </ul>
    </section>

</p>